
<h1>Create an Account</h1>

<%= form_with model: @user, local: true do |f| %>
  

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password, required: true %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, required: true %>
  </div>

  
  </div>

  <div class="actions">
    <%= f.submit 'Create Account' %>
  </div>
<% end %>
