
<% @albums.each do |album| %>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="<%= album.image[:url] %>" class="card-img" alt="Album Cover">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= album.album_name %></h5>
          <p class="card-text"><%= album.artist %></p>
          <p class="card-text"><%= album.label %></p>
          <a href="<%= album.link %>" class="btn btn-primary">Listen on Spotify</a>
        </div>
      </div>
    </div>
  </div>
<% end %>